<div class="container" id="PostDetailWrap" ng-controller="postDetailCtrl" ng-show="show == 'postdetail'">
    <div class="row" style="margin: 20px;">
        <h2>{{ postdetail.title }}</h2>
        <br/>
        <p>{{ postdetail.body }}</p>
    </div>
</div>
