<div class="table-responsive" id="tblUser" ng-controller="userCtrl" ng-show="show == 'user'">
    <h1>User List</h1>
    <table class="table">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="oUser in users">
            <td>{{ oUser.id }}</td>
            <td>{{ oUser.name }}</td>
            <td>{{ oUser.email }}</td>
            <td>{{ oUser.phone }}</td>
            <td>{{ oUser.website }}</td>
            <td>{{ oUser.company.name }}</td>
            <td><a href="javascript:void(0);" ng-click="viewPost(oUser.id);">Posts</a> &nbsp; <a href="javascript:void(0);" ng-click="viewAlbum(oUser.id);">Albums</a></td>
        </tr>
    </table>
</div>
